<p>

        l'énoncé du test technique est le suivant : 👇

        Il s'agit de concevoir une petite application web qui affiche sous forme de trombinoscope tous les personnages
        Marvel (photo + nom).

        Cette application doit être responsive.

        Marvel met à disposition une API que tu peux requêter pour obtenir tous les personnages
        (https://developer.marvel.com/)

        La liste complète des personnages ne pourra pas être affichée sur la même page, il faudra les paginer.

        Contraintes techniques :

        Lancement dans 2 containers Docker
        1/ Container partie serveur : NodeJS
        2/ Container partie client : Framework au choix (angular, vuejs, react, autre)

        Héberger le code source sur un repository git privé (ex. Github, Bitbucket, Gitlab, codecommit) et me donner
        accès.

        Déployer l'image docker sur un environnement AWS et indiquer l'URL de déploiement où je peux voir le résultat.

        Le projet doit pouvoir être lancé en quelques lignes de commande sur un poste de développement grâce à docker.
</p>

<mat-list>
        Technos utilisées
        <mat-list-item> <a href="https://marvelapi-sydney.herokuapp.com/characters"> Backend : Node JS  lien container heroku</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a [routerLink]="['/characters']" >Front : Angular 8</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Docker</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Pour le déploiement Heroku ( attention les docker file sont faits en fonction de Heroku)</mat-list-item>
</mat-list>