<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <a mat-list-item routerLink="/home" (click)="sidenav.close()">
                <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
            </a>
            <a mat-list-item routerLink="/characters" (click)="sidenav.close()">
                <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Personnages</span>   
            </a>
          </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>
                <a routerLink="/home">HOME</a>
            </div>
          </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>